
html {
    background-color: rgb(212, 241, 241);
}
h1{
    text-align: center;
    color:rgb(40, 3, 51);
}
.img-box{
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.img-box img {
    height: 380px;
    width:500px;
    border: 10px solid rgb(155, 126, 163);
}
.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:20px;
  
}
.button-container button {
    color:rgb(220, 220, 230);
    background-color: rgb(108, 9, 138);
    padding:10px;
    margin:8px;
}
